*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(1, 139, 139);
    color: white;
    padding: 20px;
}
.navbar a{
    color: white;
}
.logo{
    font-size: 32px;
}
.menu{
    display: flex;
    gap: 16px;
    font-size: 18px;
}
.menu li{
    padding: 5px 14px;
    list-style: none;
}
.nav-link a{
    text-decoration: none;
}
.service{
    position: relative;
}
.service-dropdown{
    position: absolute;
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    display: none;
    top: 35px;
}
.service-dropdown li{
    text-align: center;
    width: 8em;
    padding: 0.5em 1em;
}
.service-dropdown li:hover{
    background-color: #4c9e9e;
}
.service:hover .service-dropdown{
    display: block;
}
/* RESPONSIVE STARTS HERE */
input{
    display: none;
}
.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
}
@media only screen and (max-width: 768px) {
    .menu{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: teal;
        text-align: center;
    }
    .menu li + li{
        margin-top: 12px;
    }
    .menu li:hover{
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }
    input:checked ~ .menu{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .service-dropdown{
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .service-dropdown li:hover{
        background-color: #4c9e9e;
    }
}
   